.slider {
  width: 100%;
  height: 450px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 50px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.slider.active {
  opacity: 1;
}

.left-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}


.left-container div:not(:last-child)>:first-child{
  border-left: 2px solid #fff;
  padding-left: 10px;
  transition: all .3s ease-in-out;
}

.right-container{
  border-radius: 16px;
  box-shadow: var(--light-shadow);
  cursor: pointer;
  overflow: hidden;
  transition: all .3s ease-in-out;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;
  transition: background-image 0.3s ease-in-out;
}

.right-container h3{
  z-index: 9999;
  font-size: 36px;
  color: var(--title-color);
  padding: 20px;
}

.right-container h3 svg{
  width: 0;
  transition: width .4s ease-in-out;
}

.right-container:hover h3 svg{
  width: 30px;
}

.right-container::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #212121;
  opacity: .8;
  border-radius: 16px;
  overflow: hidden;
  transition: all .3s ease-in-out;

}

.right-container:hover::before{
  opacity: .9;
}

.data-job-slider h3{
  color: var(--title-color);
}

.data-job-slider p{
  color: var(--title-secondary-color)
}

.website-button-slider{
  width: 100%;
  padding: 10px 25px;
  border-radius: 4px;
  background-color: var(--lime);
  color: var(--title-four-color);
  text-transform: capitalize;
}