.slider-selector{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px dotted var(--parr-color);
  border-top: 1px dotted var(--parr-color);
  border-bottom: 1px dotted var(--parr-color);
  padding: 20px;
}

.slider-selector:last-child{
  border-right: 1px dotted var(--parr-color);;
}

.slider-selector img{
  width: 50%;
}